body{
    margin: 0;
    padding: 0;
}
.wrapper{
    height:614px;
     width:1360px;
      background-color:rgb(255, 8, 0);
}

header{
    position: absolute;
    height: 120px;
    width:1360px;
    background-color: rgba(247, 63, 8, 0.788); 
}
section{
      height:710px;
      width:1360px;
      background-color:rgb(255, 251, 0);
      background-image: url(../images/r2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      }
#dataa{
    padding-top:100px;
     line-height:38px; 
     margin-top:20px;
}
.data h1{
    color:rgb(7, 31, 245) ;
}
::placeholder{
    display: flex;
    transition: .7s ease-in-out;
}
.form3{ 
  color:black;
  word-spacing:5px;
   font-size:16px ; 
  margin-left: 350px;
}

 input{
    border-color: black;
     font-size:17px ;  
      padding:5px;
      margin-bottom: 20px;
     border-radius:30px;  
}
input:hover{
    background-color: rgb(128, 141, 127);
     color: darkolivegreen;
}

li a{
    color: whitesmoke;
    text-decoration: none;
}
nav{
    float: right;
      word-spacing: 30px; 
    padding: 20px;
}
nav li {
    display: inline-block;
    line-height: 67px;
} 
#btn1{
    width:200px;
    position: relative;
    left: 70px;
}
#btn1:hover{
  background-color:green;
  color: blueviolet;
}
#btn2{
    position: relative;
    left: 110px;
    width:200px;
    
}
#btn2:hover{
    background-color: red;
    color: rgb(84, 82, 85);
}
#h{  position: relative;
    top: 48px;
    left: -100px;
    color: black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    float: left;
    word-spacing: 1px;
}